body {
    background-color: white;
    text-align: center;
}
.testando{
    max-width: 70%;
    margin: 0 auto;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
.lista{
    max-width: 70%;
    margin: 0 auto;
    list-style: disc;
}
.Listas2{
    list-style: none;
    padding: 0 auto;
    display: inline-block;
    margin-right: 10%;
    font-size: xx-large;
}
.logo{
    height: 0 auto;
    width: 15%;
    position: absolute;
    left: 2%;
    top: 0%;
    z-index: 5;
}
header{
    /*background-color: rgb(197, 83, 83); esse é o rgb da cor da logo*/
}
main{
    z-index: 10;
    position: sticky;
}
/*ta marcando um aviso porque tem uma linha incompleta propositalmente*/