body {
    background-color: white;
    text-align: center;
}
.testando{
    max-width: 70%;
    margin: 0 auto;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
.lista{
    max-width: 70%;
    margin: 0 auto;
    list-style: disc;
}
.Listas2{
    list-style: none;
    padding: 0 auto;
    display: inline-block;
    margin-right: 10%;
    font-size: xx-large;
}
.logo{
    
}