#body {
    padding: 0;
    text-align: center;
    margin: 0 auto;
    max-width: 70%;
    font-size: 110%;
}

.Listas{
    list-style: none;
    padding: 0 auto;
    display: inline-block;
    margin-right: 10%;
    font-size: xx-large;
}

.sublinhado{
    text-decoration: underline;
}